src/main/mule/ejemplo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:dev-rel-quick-start-products-api="http://www.mulesoft.org/schema/mule/dev-rel-quick-start-products-api" xmlns:products-ap-is="http://www.mulesoft.org/schema/mule/products-ap-is" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/products-ap-is http://www.mulesoft.org/schema/mule/products-ap-is/current/mule-products-ap-is.xsd
http://www.mulesoft.org/schema/mule/dev-rel-quick-start-products-api http://www.mulesoft.org/schema/mule/dev-rel-quick-start-products-api/current/mule-dev-rel-quick-start-products-api.xsd
http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="d9bd1a29-0a81-4402-9fe5-95e6a1e895b8" >
		<salesforce:basic-connection username="adan.rosales@puntosingular.com" password="contraseña1" securityToken="h0WRxcxC8IQMkmwFqPnvmgZI" />
	</salesforce:sfdc-config>
	<products-ap-is:config name="ProductsAPIs_Config" doc:name="ProductsAPIs Config" doc:id="1295527d-d3c7-11e7-9c84-06bf056d193e" property_host="quick-start-store.us-w1.cloudhub.io" property_port="80" property_protocol="HTTP" property_username="mulesoft" property_password="mulesoft" property_basePath="/api" />
	<dev-rel-quick-start-products-api:config name="DevRel_Quick_Start_Products_API_Config" doc:name="DevRel-Quick Start Products API Config" doc:id="f18b08ea-8b74-4f05-a50d-0be422e8f793" property_username="mulesoft" property_password="mulesoft" />
	<slack:config name="Slack_Config" doc:name="Slack Config" doc:id="201b683e-0b15-4ca1-9c98-43e241c5d3cd" >
		<slack:token-connection token="xoxp-261182381701-606516190497-643453464915-7020764217862af23f70a2058dd70e9a" />
		<expiration-policy maxIdleTime="5" timeUnit="MINUTES" />
	</slack:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="434ea7fc-1990-4084-a9b2-8d593c6dc3f3" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="ejemploFlow" doc:id="0641c70c-e37a-4167-ae92-da4abf59dbe7" tracking:enable-default-events="true">
		<scheduler doc:name="Scheduler" doc:id="963d92d4-ebfd-4cb0-bef4-f758f62ce80e" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<salesforce:query doc:name="Query" doc:id="068d6a11-8940-4209-bd9b-13a87135fb82" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Id,FirstName,LastName,Company,Email,Phone FROM Lead</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="71e0e459-ec9a-409b-9cae-4983007a45e3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="productLeads" ><![CDATA[%dw 2.0
output application/csv
---
// This sets a default value of an empty array to vars.productLeads just in case it's not set. It will then append the object we want to it.
 []]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="7d9692b2-246a-41dc-9b1c-68aed87b660a" collection="payload">
			<dev-rel-quick-start-products-api:get-product-by-product-id doc:name="Get product by product id" doc:id="dab5a680-f111-4ef1-ac1b-0b29274f44b3" config-ref="DevRel_Quick_Start_Products_API_Config" product-id="1295527d-d3c7-11e7-9c84-06bf056d193e" target="product"/>
			<ee:transform doc:name="Transform Message" doc:id="1c1f4221-31fc-4b86-996a-f33ef0d803ed">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="productLeads"><![CDATA[%dw 2.0
output application/csv
---
// This sets a default value of an empty array to vars.productLeads just in case it's not set. It will then append the object we want to it.
(vars.productLeads default []) ++ [
    {
        // This is a 1:1 mapping of values from the payload (contains lead data) and product variables
        firstName: payload.FirstName,
        lastName: payload.LastName,
        company: payload.Company,
        email: payload.Email,
        phone: payload.Phone,
        productModel: vars.product.model,
        productPrice: vars.product.price.amount.currencyValue,
        productCurrency: vars.product.price.amount.currency,
        productDescription: vars.product.description
    }
]]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="b340597e-2d70-473d-a8cf-6bcf35ad104b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="productLeads" ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<slack:post-message channel='UBFUEEFT8' doc:name="Chat - Post Message" doc:id="82bcf4cd-8b10-46b9-9e9d-bd9c0e9e900a" config-ref="Slack_Config" parse="FULL">
			<slack:message ><![CDATA[#["Hola Zamna, termine la practica!!"]]]></slack:message>
		</slack:post-message>
	</flow>
</mule>
